<!--<h2>-->
<!--  {{state.login}}-->
<!--  <br>-->
<!--  {{state.pass}}-->
<!--</h2>-->

<!--<input type="text" #bodyInput>-->
<!--<button (click)="saveInput(bodyInput)">Save</button>-->

<!--<input [(ngModel)]="state.login">-->
<!--<br>-->
<!--<input [(ngModel)]="state.pass">-->

<!--<form>-->
<!--  <div>-->
<!--  <label>Login</label>-->
<!--    <br>-->
<!--  <input type="text" [(ngModel)]="loginForm.login" name="login">-->
<!--  </div>-->
<!--  <div>-->
<!--  <label>Password</label>-->
<!--    <br>-->
<!--  <input type="password" [(ngModel)]="loginForm.password" name="password">-->
<!--  </div>-->
<!--  <button>Set login</button>-->
<!--</form>-->


<form [formGroup]="forma">
    <h2>User ID</h2>
  <div>
    <input #idUser1 [formControl]="idUser">
    <div *ngIf="forma.controls['idUser'].invalid">User ID is not valid</div>
  </div>
  <br>
  <div style="margin-top: 10px">
    <a routerLink="{{idUser1.value}}"><button (click)="sendForm(forma)" [disabled]="forma.invalid">Send form</button></a>
  </div>
</form>
<router-outlet></router-outlet>
<h2>{{idUser1.value}}</h2>
